<div class="w-50 border border-info border-1 p-3 m-auto "style=" background :rgba(238,174,202,1);">
  <h3 class=" p-3  bg-warning text-black rounded">
    Project : <%= project.name %>
  </h3>
  <h4 class="">
    Author : <%= project.author %>
  </h4>
  <h5 class="">
    Description : <%= project.description %>
  </h5>
</div>
<%-include('./partials/_issues'); %>
